*
{
    margin: 0;
    padding: 0;
    
}

body
{
    font-family: 'DM Sans', sans-serif;
    line-height: 1.8;
    
}

.sec1
{
    margin-top: 100px;
}

a
{
    background-color: #500000;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 40px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.flex-container
{
    display: flex;
    padding: 30px 30px 0 30px;
}

.half-width
{
    width: 48%;
}

.divLeft
{
    margin-right: 2.5%;
}

.divRight
{
    margin-left: 2.5%;
}

.divRight1
{
    text-align: center;
}


.flexible-div
{
    display: flex;
    justify-content: center;
}

footer
{
    margin-top: 70px;
    border-color: rgb(100, 0, 0);
    border-top: 0.5px solid rgb(100, 0, 0);
}
footer p
{
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

h1
{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
span{
    color: #5c9c31;
    font-family: 'Anton', sans-serif;
    font-size: 65px;
}

.secondLine
{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

.tagLine
{
    font-weight: 900;
    font-size: 24px;
}

p
{
    font-size: 18px;
    text-align: justify;
}

img
{
    border: #500000;
    border-style: solid;
    border-width: 15px;
    border-radius: 50%;
    width: 70%;
    margin-left: 50px;
}

.sec2
{
    margin-top: 100px;
}

.divLeft2
{
    width: 40%;
    text-align: center;
}

.divRight2
{
    width: 60%;
    text-align: justify;
}

.sec3
{
    margin-top: 100px;
}

.sec3 h1
{
    margin-left: 30px;
    margin-bottom: 60px;
}

.divLeft3
{
    width: 40%;
    padding: 25px;
    box-shadow: 5px 10px 28px #888888;
    border-left: 9px solid;
    border-image: linear-gradient(rgb(100, 0, 0),rgb(241, 220, 28));
    border-image-slice: 1;
}

.divRight3
{
    width: 40%;
    padding: 25px;
    box-shadow: 5px 10px 28px #888888;
    border-left: 9px solid;
    border-image: linear-gradient(#5c9c31,rgb(28, 241, 195));
    border-image-slice: 1;
}

.divLeft3 h2
{
    font-size: 40px;
}

.divLeft3 h3
{
    color: #5c9c31;
    margin-top: 7px;
    margin-bottom: 25px;
}

.divRight3 h2
{
    font-size: 40px;
}

.divRight3 h3
{
    color: #5c9c31;
    margin-top: 7px;
    margin-bottom: 25px;
}

hr
{
    border-top: 2px solid #5c9c31;
}

.hrDivleft1
{
    width: 55%;
}

.hrDivright1
{
    width: 45%;
}

.hrDivleft2
{
    width: 45%;
}

.hrDivright2
{
    width: 55%;
}

@media only screen and (max-width: 768px) {
    body
    {
        line-height: 1.5;    
    }
    .sec1
    {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }   
    .sec2
    {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }   
    img
    {
        width: 100%;
    }
    .half-width
    {
        width: 100%;
    }
    .divRight1
    {
        text-align: center;
    }
        .divLeft
    {
        margin-right: 0%;
    }

    .divRight
    {
        margin-right: 0%;
    }
    img
    {
        margin-left: 0px;
        width: 80%;
    }
    .hrFlex
    {
        display: flex;
        flex-direction: column;
    }   

    .hrDivleft1
    {
        width: 100%;
    }
    
    .hrDivright2
    {
        width: 100%;
    }
    .fandb
    {
        display: flex;
        flex-direction: column;
    }

    .divLeft3
    {
        width: 80%;
        margin-top: 20px;
        margin-left: 2%;
    }   
    
    .divRight3
    {
        width: 80%;
        margin-top: 20px;
        margin-left: 2%;
    }   

    .sec3
    {
        margin-top: 30px;
    }

    .sec3 h1 {
        margin-bottom: 20px;
    }

  }